<!DOCTYPE html>
<meta charset="utf-8">

<html>

  <head>
    <title>HOSTS</title>
	<link rel="stylesheet" href="./static/src/bootstrap.min.css">
	<link rel="stylesheet" href="./static/src/bootstrap-table.css">
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
	<script src="./static/src/jquery.min.js"></script>
	<script src="./static/src/bootstrap.min.js"></script>
	<script src="./static/src/bootstrap-table.js"></script>
<!-- Latest compiled and minified Locales <script src="index.js"></script><link rel="stylesheet" href="assets/index.css">-->
    <script src="./static/src/bootstrap-table-zh-CN.js"></script>
  </head>

  <body>
    <div class="container">
     <table id="table"
            data-toggle="table" 
     	    data-url="./data.json"
	        data-pagination="true"  
            data-show-refresh="true"  
            data-data-type="json"
            data-striped="true"
            data-search="true"
            data-sort-stable="true" 
            data-pagination="true" 
            data-page-number=1
            data-show-columns="true"
            data-show-footer="false"
            >
		    <thead>
			    <tr>  
                    <th id="name" data-type="text" contenteditable="true" data-field="host_name">Host Name</th>
				    <th data-field="cards_name">Cards</th>
	    			<th data-field="num_cards">Num</th>
		    		<th data-field="driver">Driver</th>
			    	<th data-field="osenv">OS</th>
				    <th data-field="ip">IP</th>
				    <th data-field="alive">Used</th>
				    <th data-field="nowtime">Time</th> 
			    </tr>
		    </thead>
	    </table>
    </div>
    <script>
     $(function () {
             $('#name').editable();
                 });
    </script>
  </body>
</html>
